* {
	margin: 0 10px 0;
}

.header__design {
	margin: auto;
	width: 100%;
	padding: 30px;
}

.header__left-corner, .header__right-corner {
	font-family: sans-serif;
	width: 20%;
}

.header__left-corner {
	background-color: red;
	color: blue;
}

.header__middle-corner {
	font-style: italic;
	font-weight: normal;
	width: 70%;
	text-align: left;
}

.header__right-corner {
	background-color: blue;
	color: red;
}

.header__left-corner, .header__middle-corner, .header__right-corner {
	border: double;
	border-width: 5px;
	border-color: #000;
	padding: 10px;
}

.header__title, section {
	padding: 30px;
}

.header__title {
	text-decoration: double underline;
	font-size: 400%;
	text-align: left;
	margin: auto;
}

.header__title > span {
	font-style: italic;
	font-weight: normal;
}

.header__text, .article__adtext {
	list-style-image: url(imgs/arrow.png);
}

.header__text span {
	font-weight: bold;
}

.header__text span a:link {
	color: #000;
	text-decoration: none;
}

.header__text span a:hover {
	color: #DDD;
	text-decoration: none;
}

.header__text span a:focus {
	color: #AAA;
	text-decoration: none;
}

section {
	column-count: 3;
}

article {
	margin: 20px 0 0;
}

img {
	max-width: 80%;
	padding: 20px 0 0;
}

.article__img-text {
	background-color: grey;
	font-weight: bold;
}

.article__text {
	font-size: 110%;
}

.article__adtext {
	margin: 20px 0 0;
	font-weight: bold;
}

.article__text, .article__img-text, .article__adtext {
	font-family: sans-serif;
}

.footer__design {
	margin: auto;
	width: 100%;
	padding: 30px;
}

.footer__left-corner, .footer__middle-corner, .footer__right-corner {
	border: double;
	border-width: 5px;
	border-color: #000;
	padding: 10px;
}

.footer__left-corner {
	width: 20%;
	text-align: right;
	font-size: 130%;
}

.footer__middle-corner {
	background-color: red;
	color: white;
	font-weight: normal;
	width: 65%;
}

.footer__right-corner {
	width: 20%;
	font-weight: normal;
	font-style: italic;
}